# Create MySQL Connection

In [1]:
# Create MySQL Connection & connect
import mysql.connector as sql

connection = sql.connect(
host = "localhost",
user = "root",
password = "1212",
database = "pysql"
)

print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000002A32ADD6C10>

In [2]:
# Create database (already created so in comments)
'''cursor = connection.cursor()

cursor.execute("CREATE DATABASE pysql")'''

'cursor = connection.cursor()\n\ncursor.execute("CREATE DATABASE pysql")'

In [3]:
cursor = connection.cursor()

cursor.execute('show databases')

In [4]:
for database in cursor:
    print(database)

('dwm_case_study',)
('hr',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('pysql',)
('sakila',)
('sales',)
('sys',)
('world',)

## Create table in Mysql using python

In [6]:
cursor.execute("CREATE TABLE pyversion (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(6), date DATE)")

## Insert records in table

In [11]:
query = "INSERT INTO pyversion (name, date) VALUES (%s, %s)"
value = ("pyv11", "2001-12-12")
cursor.execute(query,value)
print("Row inserted", cursor.lastrowid)

Row inserted 1

In [12]:
cursor.execute("Select * from pyversion")

In [13]:
### Fetch the Data
cursor.fetchone()

(1, 'pyv11', datetime.date(2001, 12, 12))

In [15]:
### Insert multiple records in Table
query = "INSERT INTO pyversion (name, date) VALUES (%s, %s)"
values = [("pyv22", "2001-12-13"),
        ("pyv23", "2001-12-14"),
        ("pyv24","2001-12-15"),
        ("pyv25","2001-12-16"),
        ("pyv33","2001-12-17"),
        ("pyv33","2001-12-18"),
        ("pyv44","2001-12-19")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

## Select All

In [27]:
cursor = connection.cursor()
cursor.execute("Select * from pyversion")

In [24]:
### Fetch All the Data
cursor.fetchall()

[(1, 'pyv11', datetime.date(2001, 12, 12)),
 (2, 'pyv22', datetime.date(2001, 12, 13)),
 (3, 'pyv23', datetime.date(2001, 12, 14)),
 (4, 'pyv24', datetime.date(2001, 12, 15)),
 (5, 'pyv25', datetime.date(2001, 12, 16)),
 (6, 'pyv33', datetime.date(2001, 12, 17)),
 (7, 'pyv33', datetime.date(2001, 12, 18)),
 (8, 'pyv44', datetime.date(2001, 12, 19))]

In [28]:
lst=cursor.fetchall()

In [29]:
for records in lst:
    print(records)

(1, 'pyv11', datetime.date(2001, 12, 12))
(2, 'pyv22', datetime.date(2001, 12, 13))
(3, 'pyv23', datetime.date(2001, 12, 14))
(4, 'pyv24', datetime.date(2001, 12, 15))
(5, 'pyv25', datetime.date(2001, 12, 16))
(6, 'pyv33', datetime.date(2001, 12, 17))
(7, 'pyv33', datetime.date(2001, 12, 18))
(8, 'pyv44', datetime.date(2001, 12, 19))

## Selecting Particular Rows

In [30]:
cursor.execute("Select * from pyversion where name='pyv23'")

In [31]:
### Fetch All the Data
cursor.fetchall()

[(3, 'pyv23', datetime.date(2001, 12, 14))]

## Select Particular Columns

In [32]:
cursor.execute("Select date from pyversion")
cursor.fetchall()

[(datetime.date(2001, 12, 12),),
 (datetime.date(2001, 12, 13),),
 (datetime.date(2001, 12, 14),),
 (datetime.date(2001, 12, 15),),
 (datetime.date(2001, 12, 16),),
 (datetime.date(2001, 12, 17),),
 (datetime.date(2001, 12, 18),),
 (datetime.date(2001, 12, 19),)]

## Drop Table

In [33]:
cursor.execute("DROP TABLE pyversion")